//centrar clientes
.c-center{
    flex: 1 1 auto;
}

.si{
    background-color:#EDBF2F;
    color: white;
}

.no{
    background-color: #EDF5FD;
    color: black;
}

.b{
    margin-right: 2%;
}

.perfect-scrollbar-example {
    position: relative;
    max-height: 80vh;
}