.perfect-scrollbar-example {
    position: relative;
    max-height: 80vh;
}

.b{
    margin-right: 2%;
}


.si{
    background-color:green;
    color: white;
}

.no{
    background-color: #7987A1;
    color: white;
}