.perfect-scrollbar-example {
    position: relative;
    max-height: 80vh;
}

.b{
    margin-right: 2%;
}


.si{
    background-color:#EDBF2F;
    color: white;
}

.no{
    background-color: #EDF5FD;
    color: black;
}

.seleccionable{
    cursor: pointer;
}