.perfect-scrollbar-example {
    position: relative;
    max-height: 80vh;
}

.b{
    margin-right: 2%;
}


.si{
    background-color:#EDBF2F;
    color: white;
}

.no{
    background-color: #EDF5FD;
    color: black;
}

.seleccionable{
    cursor: pointer;
}

.custom-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
}

.custom-card-body{
    flex: 1 1 auto;
    min-height: 1px;
    // padding: 0.8rem 1rem;
    font-family: "Eczar";
    font-size: 15px;
}