<div class="horizontal-menu">
  <nav class="navbar top-navbar">
   
      <div class="navbar-content">
        <!--- Logo -->
        
          
          <div class="contenedor back">
            <!--- Menu -->
            <div class="head text-center">
              <a routerLink="/" >CleanZone</a>
            </div>      
            <div class="text-center">    
            <ul class="navMy page-navigation">
                <li class="nav-item ml-4 mr-4 ">
                    <div class="text-center cursor" [routerLink]="['/']">
                        <i data-feather="home" class=" text-white" appFeatherIcon></i>
                        <p class="title text-white">Home</p>
                    </div>
                </li>
                <li class="nav-item mr-4 ">
                    <div class="text-center cursor" [routerLink]="['/ventas']">
                        <i data-feather="speaker" class=" text-white" appFeatherIcon></i>
                        <p class="title text-white">Venta</p>
                    </div>
                </li>
                <li class="nav-item mr-4 ">
                    <div class="text-center cursor" [routerLink]="['/entregas']">
                        <i data-feather="truck" class=" text-white" appFeatherIcon></i>
                        <p class="title text-white">entrega</p>
                    </div>
                </li>
                <li class="nav-item mr-4 ">
                    <div class="text-center cursor" [routerLink]="['/funciones']">
                        <i data-feather="more-horizontal" class=" text-white" appFeatherIcon></i>
                        <p class="title text-white">funciones</p>
                    </div>
                </li>
            </ul>
        </div>  
      </div>  
    </div>
  </nav>

	<nav class="bottom-navbar">
		<div class="container">

      
		</div>
	</nav>
</div>