<!-- Modal agregar prenda -->
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Agregar prenda</h5>
            <button type="button" class="close" (click)="activeModal.close('by: close icon')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="card-body">
                <h6 class="card-title">Nueva prenda</h6>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Precio</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="exampleInputUsername2" placeholder="precio">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Categoria</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option selected disabled>Selecciona una categoria</option>
                                <option *ngFor="let category of categories">{{category.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleFormControlSelect1" class="col-sm-3 col-form-label">Lista de precio</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option selected disabled>Selecciona una lista</option>
                                <option *ngFor="let userType of userTypes">{{userType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Costo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Costo de servicio">
                        </div>
                    </div>

                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('by: close button')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="activeModal.close('by: save button')">Agregar</button>
        </div>