//Menu deslizante
.menuResp {
  //  display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling:touch

}

.menuResp::-webkit-scrollbar {
    display: none; 
}

//prendas dezlizantes horizontalmente 
.products{
   // display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 25vh;    
    min-width: 500px;
    width: auto;
    
}

.productsMenu{
   // display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 12vh;   
    width: auto;
    white-space: nowrap;
    
}

.button-product{
    margin-right: 1%;
    margin-top: 1%;
    font-size: 0.8rem;
    height: 4.8vh;
   // width: 100%;
}

.activo{
    color: #005D9B;
    background-color: #dbdbdb;
}

.no-activo{
    background-color: #EDF5FD;
    color: black;
}

@media screen and (max-width: 576px) {
    
    .padding-media {
        padding-top: 70px;
    }
}
    
@media screen and (min-width:576px) and (max-width: 1400px)  {
    
    .padding-media {
        padding-top: 10px;
    }
}