<div class="card text-center">
    <div class="card-body">
        <div class="menuResp mb-2">
            <div class="product-button">
            <div class="productsMenu ">
                <button type="button" [routerLink]="['/funciones/gastos']" class="btn btn-secondary btn-sm button-product">Gastos</button>
                <button type="button" [routerLink]="['/funciones/notas']" routerLinkActive="active" class="btn btn-secondary btn-sm button-product">Notas</button>
                <button type="button" [routerLink]="['/funciones/corte']" routerLinkActive="active" class="btn btn-secondary btn-sm button-product">Corte del dia</button>
                <button type="button" [routerLink]="['/funciones/graficas']" routerLinkActive="active" class="btn btn-secondary btn-sm button-product">Graficas</button>
                <button type="button" [routerLink]="['/funciones/configuraciones']" routerLinkActive="active" class="btn btn-secondary btn-sm button-product" >Config</button>
                <button type="button" [routerLink]="['/funciones/status']" routerLinkActive="active"  class="btn btn-secondary btn-sm button-product">Estatus</button>
                <button type="button" [routerLink]="['/funciones/clientes']" routerLinkActive="active" class="btn btn-secondary btn-sm button-product">Cliente</button>
                <button type="button" [routerLink]="['/funciones/finanzas']" routerLinkActive="active"class="btn btn-secondary btn-sm button-product">Finanzas</button>
                <!--Prendas pendientes, finanzas?-->
            </div>
            </div>
        </div>
    </div>
</div>
