<!--Modal pagar-->

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pagar</h5>
            <button type="button" class="close" (click)="activeModal.close('by: close icon')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <p class="text-bold-800 total text-center">Total : {{total | currency:'MXN' }}</p>
                    <div class="form-group row">
                        <label for="exampleInputUsername1" class="col-3 col-form-label">Forma pago</label>
                        <div class="col-9">    
                                <ng-select [items]="formaPago" bindLabel="name" bindValue="id"  placeholder="Forma de pago" [class.is-invalid]="formaNovalida" [(ngModel)]="formaPagoSeleccionada ">
                                    <ng-option *ngFor="let forma of formaPago" [value]="forma.id" >{{forma.name}}</ng-option>
                                 </ng-select>  
                                 <small *ngIf="formaNovalida" class="text-danger">
                                    forma no valida
                               </small>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="formaPagoSeleccionada !== 3">
                        <label for="exampleInputUsername2" class="col-3 col-form-label">Cantidad</label>
                        <div class="col-9">
                            <input type="number" [(ngModel)]=" amount "  class="form-control" placeholder="Cantiad pagada" [class.is-invalid]="amountNovalida">
                            <small *ngIf="amountNovalida" class="text-danger">
                                cantidad no valida
                           </small>
                        </div>
                    </div>
            </div>
            <div style="border-style: dotted; display: flex; justify-content: center;" >
                <div id="ticket"  style="width: 294.80314961px;">      
                    <div class="text-center">
                        <img width="150px" src="/assets/images/clean-ticket.png" alt="">
                    </div>
                    <!-- Encabezados -->
                    <div class="text-center">
                        <p>FERRERIA 1316</p>
                        <p>ALAMO INDUSTRIAL</p>
                        <p>GUADALAJARA JALISCO</p>
                        <p>CP 44490</p>
                        <p>TELS: 3335-3262</p>
                    </div>
                    <!-- codigo qr -->
                    <div>
            
                    </div>
                    <!-- Datos -->
                    <div style="display: flex; justify-content: space-between;">
                        <p>FECHA:</p> 
                        <p>{{this.ventasPagService.venta.createdAt | date: 'short'}}</p>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p>CAJERO: </p>
                        <p>{{this.ventasPagService.venta.employee.name | uppercase}}</p>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p>CLIENTE: </p>
                        <p>{{this.ventasPagService.venta.user.name | uppercase}}</p>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p>TELEFONO: </p>
                        <p>{{ this.ventasPagService.venta.user.phone }}</p>
                    </div>                       
                       
                    <!-- Nota -->
                    <ng-container *ngFor="let fila of this.ventasPagService.Fila">
                        <div class="mt-2 mb-3">
                            <div class="text-center">
                                <h5>#{{fila.detailId}}</h5>
                                <h6>{{fila.product.category.name}}</h6>
                            </div>                       
                            <table class="table">
                                <thead>
                                    <th>PRENDA</th>
                                    <th>CANTIDAD</th>
                                    <th>PRECIO</th>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td>{{fila.product.name}}</td>
                                        <td>{{fila.quantity}}</td>
                                        <td>{{fila.product.pricings[0].price}}</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </ng-container>
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('by: close button')">Cerrar</button>
            <!-- <button class="btn btn-primary" (click)="this.downloadAsPDF()" >Imprimir</button> -->
            <button type="button" class="btn btn-primary" (click)="pagar()">Pagar</button>
        </div>