<!--Modal pagar-->

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pagar</h5>
            <button type="button" class="close" (click)="activeModal.close('by: close icon')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <p class="text-bold-800 total text-center">Total : {{total | currency:'MXN' }}</p>
                    <div class="form-group row">
                        <label for="exampleInputUsername1" class="col-3 col-form-label">Forma pago</label>
                        <div class="col-9">    
                                <ng-select [items]="formaPago" bindLabel="name" bindValue="id"  placeholder="Forma de pago" [class.is-invalid]="formaNovalida" [(ngModel)]="formaPagoSeleccionada ">
                                    <ng-option *ngFor="let forma of formaPago" [value]="forma.id" >{{forma.name}}</ng-option>
                                 </ng-select>  
                                 <small *ngIf="formaNovalida" class="text-danger">
                                    forma no valida
                               </small>
                        </div>
                    </div>
                    <div class="form-group row" *ngIf="formaPagoSeleccionada !== 3">
                        <label for="exampleInputUsername2" class="col-3 col-form-label">Cantidad</label>
                        <div class="col-9">
                            <input type="number" [(ngModel)]=" amount "  class="form-control" placeholder="Cantiad pagada" [class.is-invalid]="amountNovalida">
                            <small *ngIf="amountNovalida" class="text-danger">
                                cantidad no valida
                           </small>
                        </div>
                    </div>
            </div>
            <!-- <div id="exportthis">
            <ngx-barcode [bc-value]="'17'" [bc-display-value]="true"></ngx-barcode>
            </div> -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close('by: close button')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="pagar()">Pagar</button>
        </div>