.parrafo{
    font-size: 10px;
    font-weight: 800;
    line-height: 0.5px; 
}

.parrafo2{
    font-size: 9px;
    font-weight: 800;
}

table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
 }