 <div *ngIf="cargando">
     <div class="card">
             <div class="card-body">
                <div class="encabezado">
                <div>
                    <p [routerLink]="['/funciones/status']" routerLinkActive="router-link-active"  style="text-align: right;"><i data-feather="arrow-left" class="text-primary" appFeatherIcon></i></p>
                </div>
                <div *ngFor="let detail of service.details">
                <h4 style="text-align: center; font-size: 16px;" class="card-title">{{ detail.identifier }} {{ detail.ticket }}</h4>
                <div class="table-responsive pb-3">
                    <table class="table table-hover">
                        <thead>
                            <th>CANTIDAD</th>
                            <th>NOMBRE</th>
                            <th>COLORES</th>
                            <th>-</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of detail.rows">
                                <td [ngClass]="{terminado: row.status === 1, entregado: row.status === 2, pendiente: row.status === 3 }">{{row.quantity}}</td>
                                <td [ngClass]="{terminado: row.status === 1, entregado: row.status === 2, pendiente: row.status === 3 }">{{row.product.name}}</td>
                                <td [ngClass]="{terminado: row.status === 1, entregado: row.status === 2, pendiente: row.status === 3 }">{{row.colors}}</td>
                                <td class="bTable">
                                    <button type="button" (click)="cambiarStatus(row.id,3)" class="btn btn-sm btn-warning b">P</button>
                                    <button type="button" (click)="cambiarStatus(row.id,1)" class="btn btn-sm btn-success">T</button>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>

            </div>
        </div>
        </div>
     </div>
     <div class="container text-right mt-3">
        <button type="submit" (click)="finalizarStatus()" class="btn btn-primary">Finalizar</button>
     </div>             
</div>