<div class="card ">
    <div class="card-body">
        <div class="row justify-content-center align-items-center text-center mb-3">
            <div class="col-12">
                <button type="button" (click)="[entregasDia(),menuF('dia')]" class="btn {{menu === 'dia' ? 'si' : 'no' }} btn-sm BCentral b">Dia</button>
                <button type="button" (click)="[entregasPendientesTerminadas(),menuF('pendienteTerminado')]" class="btn {{menu === 'pendienteTerminado' ? 'si' : 'no' }} btn-sm BCentral b">Pend Term</button>
                <button type="button" (click)="[entregasPendientes(),menuF('pendiente')]" class="btn {{menu === 'pendiente' ? 'si' : 'no' }} btn-sm BCentral b">Pend</button>
                <button type="button" (click)="[notasPorPagar(),menuF('porPagar')]" class="btn {{menu === 'porPagar' ? 'si' : 'no' }} btn-sm BCentral b">Por pagar</button>
            </div>
        </div>

        <div class=" row justify-content-center align-items-center text-center">
            <div class="col-12">
                <button type="button" (click)="menuEntregasF('folio')" style="color: white; margin-right: 2%;" class="btn btn-info btn-sm ">Folio</button>
                <button type="button" (click)="menuEntregasF('cliente')" style="color: white; margin-right: 2%;" class="btn btn-info btn-sm ">Cliente</button>
            </div>
        </div>
        <div [ngSwitch]="menuEntregas">         
                <div class="form-group row" *ngSwitchCase="'folio'">
                    <label for="exampleInputUsername2" class="col-3 col-form-label">Folio</label>
                    <div class="col-9">
                        <input type="text" class="form-control" [(ngModel)]="folio" placeholder="Numero de nota">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="[buscarNota(this.folio),menuF('folio')]">Buscar</button>                   
                </div>
            <div class="form-group row" *ngSwitchCase="'cliente'">
                <label for="exampleInputUsername2" class="col-3 col-form-label">Cliente</label>
                <div class="col-9">
                    <ng-select [items]="clients" bindLabel="name"  placeholder="Clientes" [(ngModel)]="clienteSeleccionado">
                    </ng-select>
                </div>
            </div>
            <div *ngSwitchDefault>
                <!--Default-->
            </div>
        </div>

    </div>
</div>

<!--Dia-->
<ng-container [ngSwitch]="menu">

    <ng-container *ngSwitchCase="'dia'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>           
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'pendienteTerminado'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null" >
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'pendiente'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'porPagar'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;" >
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>          
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'folio'">
        <div class="perfect-scrollbar-example" [perfectScrollbar] *ngIf="cargando">
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>
        </div>
    </ng-container>
    <div *ngSwitchDefault>
       <!--Default-->
    </div>
</ng-container>
<!--
<div class="modal-dialog modal-lg">
    <ng-template #lgModalPagar let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pagar</h5>
            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <p class="text-bold-800 total text-center">Total : $ 1,788.00</p>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername1" class="col-4 col-form-label">Forma pago</label>
                        <div class="col-8">
                            <div class="input-group">
                                <div class="cartaP">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option selected disabled>Selecciona una forma de pago</option>
                                        <option>Pago</option>
                                        <option>Abono</option>
                                        <option>Credito</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-3 col-form-label">Cantidad</label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Cantiad pagada">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="modal.close('by: close button')">Imprimir</button>
            <button type="button" class="btn btn-primary" (click)="modal.close(buscarNotaDia())">Pagar</button>
        </div>
    </ng-template>
</div>-->