<div class="card text-center">
    <div class="card-body">
        <div class="menuResp mb-2">
            <div class="product-button">
            <div class="productsMenu">
                <button type="button" (click)="[entregasDia(),menuF('dia')]" class="btn {{menu === 'dia' ? 'si' : 'no' }} btn-sm BCentral b">Dia</button>
                <button type="button" (click)="[entregasPendientesTerminadas(),menuF('pendienteTerminado')]" class="btn {{menu === 'pendienteTerminado' ? 'si' : 'no' }} btn-sm BCentral b">Pend Term</button>
                <button type="button" (click)="[entregasPendientes(),menuF('pendiente')]" class="btn {{menu === 'pendiente' ? 'si' : 'no' }} btn-sm BCentral b">Pend</button>
                <button type="button" (click)="[notasPorPagar(),menuF('porPagar')]" class="btn {{menu === 'porPagar' ? 'si' : 'no' }} btn-sm BCentral b">Por pagar</button>
            </div>
        </div>
        </div>
        <div class=" row justify-content-center align-items-center text-center">
            <div class="col-12">
                <button type="button" (click)="menuEntregasF('folio')" style="color: white; margin-right: 2%;" class="btn btn-info btn-sm ">Folio</button>
                <button type="button" (click)="menuEntregasF('cliente')" style="color: white; margin-right: 2%;" class="btn btn-info btn-sm ">Cliente</button>
            </div>
        </div>
        <div [ngSwitch]="menuEntregas">         
                <div class="form-group row" *ngSwitchCase="'folio'">
                    <label for="exampleInputUsername2" class="col-3 col-form-label">Folio</label>
                    <div class="col-9">
                        <input type="text" class="form-control" [(ngModel)]="folio" placeholder="Numero de nota">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="[buscarNota(this.folio),menuF('folio')]">Buscar</button>                   
                </div>
            <div class="form-group row" *ngSwitchCase="'cliente'">
                <label for="exampleInputUsername2" class="col-3 col-form-label">Cliente</label>
                <div class="col-9">
                    <ng-select [items]="clients" bindLabel="name"  placeholder="Clientes" [(ngModel)]="clienteSeleccionado">
                    </ng-select>
                </div>
            </div>
            <div *ngSwitchDefault>
                <!--Default-->
            </div>
        </div>

    </div>
</div>

<!--Dia-->
<ng-container [ngSwitch]="menu">

    <ng-container *ngSwitchCase="'dia'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <!-- <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container> 
            </div>           
        </div> -->
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="card text-dark bg-light mb-3 seleccionable"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <div class="card-header">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th colspan="2" class="text-center">{{tipoPago(service.payments)}}</th>
                                    <th colspan="2" class="text-center">{{ service.createdAt | date:'short' }}</th>
                                  </tr>
                                <tr>
                                  <th># {{ service.id }}</th>
                                  <th>{{service.user.name}}</th>
                                  <th>{{service.user.street}}</th>
                                  <th>{{service.user.phone}}</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">                            
                              <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;">
                                <p *ngFor="let detail of service.details"> ID: {{ detail.identifier }}   Ticket:{{ detail.ticket }} </p>
                            </div>  
                        </div>
                      </div>                    
                </ng-container>               
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'pendienteTerminado'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null" >
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="card text-dark bg-light mb-3 seleccionable"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <div class="card-header">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th colspan="2" class="text-center">{{tipoPago(service.payments)}}</th>
                                    <th colspan="2" class="text-center">{{ service.createdAt | date:'short' }}</th>
                                  </tr>
                                <tr>
                                  <th># {{ service.id }}</th>
                                  <th>{{service.user.name}}</th>
                                  <th>{{service.user.street}}</th>
                                  <th>{{service.user.phone}}</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">                            
                              <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;">
                                <p *ngFor="let detail of service.details"> ID: {{ detail.identifier }}   Ticket:{{ detail.ticket }} </p>
                            </div>  
                        </div>
                      </div>                    
                </ng-container>   
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'pendiente'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="card text-dark bg-light mb-3 seleccionable" [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <div class="card-header">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th colspan="2" class="text-center">{{tipoPago(service.payments)}}</th>
                                    <th colspan="2" class="text-center">{{ service.createdAt | date:'short' }}</th>
                                  </tr>
                                <tr>
                                  <th># {{ service.id }}</th>
                                  <th>{{service.user.name}}</th>
                                  <th>{{service.user.street}}</th>
                                  <th>{{service.user.phone}}</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">                            
                              <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;">
                                <p *ngFor="let detail of service.details"> ID: {{ detail.identifier }}   Ticket:{{ detail.ticket }} </p>
                            </div>  
                        </div>
                      </div>                    
                </ng-container>   
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'porPagar'">
        <div style="background-color: #727CF5;" class="text-center mt-3" *ngIf="clienteSeleccionado != null">
            <p style="color: white;">{{clienteSeleccionado.name}}</p>
            <p style="color: white;">{{clienteSeleccionado.street}}</p>
            <p style="color: white;">{{clienteSeleccionado.phone}}</p>
        </div>
        <div class="perfect-scrollbar-example" [perfectScrollbar]>
            <div class="list-group">
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="card text-dark bg-light mb-3 seleccionable"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <div class="card-header">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th colspan="2" class="text-center">{{tipoPago(service.payments)}}</th>
                                    <th colspan="2" class="text-center">{{ service.createdAt | date:'short' }}</th>
                                  </tr>
                                <tr>
                                  <th># {{ service.id }}</th>
                                  <th>{{service.user.name}}</th>
                                  <th>{{service.user.street}}</th>
                                  <th>{{service.user.phone}}</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">                            
                              <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;">
                                <p *ngFor="let detail of service.details"> ID: {{ detail.identifier }}   Ticket:{{ detail.ticket }} </p>
                            </div>  
                        </div>
                      </div>                    
                </ng-container>   
            </div>          
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'folio'">
        <div class="perfect-scrollbar-example" [perfectScrollbar] *ngIf="cargando">
            <div class="list-group">
                <!-- <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <a >{{ service.id }}.- </a> <p *ngFor="let detail of service.details"> {{ detail.identifier }} {{ detail.ticket }}, </p>
                    </div>                   
                </ng-container>  -->
                <ng-container *ngFor="let service of this.entregasPagService.services">
                    <div class="card text-dark bg-light mb-3 seleccionable"  [routerLink]="['/entregas-detail/',service.id]" routerLinkActive="active">
                        <div class="card-header">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                    <th colspan="2" class="text-center">{{tipoPago(service.payments)}}</th>
                                    <th colspan="2" class="text-center">{{ service.createdAt | date:'short' }}</th>
                                  </tr>
                                <tr>
                                  <th># {{ service.id }}</th>
                                  <th>{{service.user.name}}</th>
                                  <th>{{service.user.street}}</th>
                                  <th>{{service.user.phone}}</th>
                                </tr>
                              </thead>
                            </table>
                          </div>
                        </div>
                        <div class="card-body">                            
                              <div class="list-group-item list-group-item-action" style="display:flex; flex-wrap: nowrap;">
                                <p *ngFor="let detail of service.details"> ID: {{ detail.identifier }}   Ticket:{{ detail.ticket }} </p>
                            </div>  
                        </div>
                      </div>                    
                </ng-container>     
            </div>
        </div>
    </ng-container>
    <div *ngSwitchDefault>
       <!--Default-->
    </div>
</ng-container>
