//Menu deslizante
.menuResp {
    //  display: flex;
      overflow-x: auto;
      -webkit-overflow-scrolling:touch
  
  }
  
  .menuResp::-webkit-scrollbar {
      display: none; 
  }
  
  .productsMenu{
    // display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     max-height: 12vh;   
     width: auto;
     white-space: nowrap;
     
 }  

.b{
    margin-right: 2%;
}

.si{
    background-color:#EDBF2F;
    color: white;
}

.no{
    background-color: #EDF5FD;
    color: black;
}

.perfect-scrollbar-example {
    position: relative;
    max-height: 50vh;
}

.seleccionable{
    cursor: pointer;
}