<div class="menuResp">
    <div class="cont">
        <div class="text-center mb-3">
                <button type="button" (click)="buscarCliente()" class="btn {{menu === 'cliente' ? 'si' : 'no' }} btn-sm BCentral b">Cliente</button>
                <button type="button" (click)="buscarPrenda()" class="btn {{menu === 'prenda' ? 'si' : 'no' }} btn-sm BCentral b">Prenda</button>
                <button type="button" (click)="buscarEmpleado()" class="btn {{menu === 'empleado' ? 'si' : 'no' }} btn-sm BCentral b">Empleado</button>
                <button type="button" (click)="buscarCategoria()" class="btn {{menu === 'categoria' ? 'si' : 'no' }} btn-sm BCentral b">Categoria</button>
        </div>
    </div>
</div>

<ng-container [ngSwitch]="menu">
    <ng-container *ngSwitchCase="'cliente'">
        <div class="row justify-content-center align-items-center text-center mb-3">
            <div class="col-12">
                <button type="button" (click)="openModalClienteAgregar()" class="btn btn-primary btn-sm BCentral b">Agregar Cliente</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="perfect-scrollbar-example" [perfectScrollbar]>
                            <div class="table-responsive">                            
                                <table class="table table-hover text-center">
                                    <thead>
                                        <th>Nombre</th>
                                        <th>Telefono</th>
                                        <th>Calle</th>
                                        <th>Colonia</th>
                                        <th>Codigo Postal</th>
                                        <th>-</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of clients">
                                            <td>{{client.name}}</td>
                                            <td>{{client.phone}}</td>
                                            <td>{{client.street}}</td>
                                            <td>{{client.suburb}}</td>
                                            <td>{{client.zip}}</td>
                                            <td>
                                                <button (click)="borraCliente(client.id)" type="button" class="btn btn-danger btn-icon">
                                                    <i class="feather mdi mdi-backspace"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>        
    </ng-container>
    <ng-container *ngSwitchCase="'prenda'">
        <div class="row justify-content-center align-items-center text-center mb-3">
            <div class="col-12">
                <button type="button" (click)="openModalPrendaAgregar()" class="btn btn-primary btn-sm BCentral b">Agregar Prenda</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="perfect-scrollbar-example" [perfectScrollbar]>
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <th>Nombre</th>
                                        <th>Categoria</th>
                                        <th>Precio</th>
                                        <th>Lista</th>
                                        <th>-</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of products">
                                            <td>{{product.name}}</td>
                                            <td>{{product.category.name}}</td>
                                            <td>{{product.pricings[0].price}}</td>
                                            <td>{{product.pricings[0].usertype.name}}</td>
                                            <td>
                                                <button (click)="borraPrenda(product.id)" type="button" class="btn btn-danger btn-icon">
                                                    <i class="feather mdi mdi-backspace"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'empleado'">
        <div class="row justify-content-center align-items-center text-center mb-3">
            <div class="col-12">
                <button type="button" (click)="openModalEmpleadoAgregar()" class="btn btn-primary btn-sm BCentral b">Agregar empleado</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="perfect-scrollbar-example" [perfectScrollbar]>
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th>-</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let employ of employees">
                                            <td>{{employ.name}}</td>
                                            <td>{{employ.email}}</td>
                                            <td>{{employ.role.name}}</td>
                                            <td>
                                                <button (click)="borraEmpleado(employ.id)" type="button" class="btn btn-danger btn-icon">
                                                    <i class="feather mdi mdi-backspace"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="'categoria'">
        <div class="row justify-content-center align-items-center text-center mb-3">
            <div class="col-12">
                <button type="button" (click)="openModalCategoriaAgregar()" class="btn btn-primary btn-sm BCentral b">Agregar Categoria</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="perfect-scrollbar-example" [perfectScrollbar]>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-center">
                                        <th>Nombre</th>
                                        <th>-</th>
                                    </thead>
                                    <tbody>
                                        <tr class="text-center" *ngFor="let category of categories">
                                            <td>{{category.name}}</td>
                                            <td>
                                                <button (click)="borraCategoria(category.id)" type="button" class="btn btn-danger btn-icon">
                                                    <i class="feather mdi mdi-backspace"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <div *ngSwitchDefault>
       <!--Default-->
    </div>
</ng-container>